body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(70px, 1fr) minmax(700px, 10fr) minmax(70px, 1fr);
  font-family: 'Raleway', sans-serif;
}

#header {
  background-color: #0284c7 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: whitesmoke;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

#main {
  background-color: #e0f2fe;
  box-shadow: inset 0px 8px 24px -16px rgba(66, 68, 90, 1);
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      #f5d0fe,
      #d946ef,
      #a21caf,
      #4a044e
    );
    opacity: 0.75;
  }

#footer {
  background-color: #0284c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer > p {
  color: whitesmoke;
  margin-right: 5px;
}

img:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(360deg) scale(1.2);
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 12px;
}

.main-text {
  font-size: 20px;
  font-weight: 700;
  margin-top: 12px;
}

#showDialog {
  font-size: 20px;
  font-weight: 700;
  background-color: #0284c7;
  color: whitesmoke;
  padding: 12px 17px;
  border-radius: 10px;
  border: 0;
  box-shadow: 11px 10px 13px -6px rgba(66, 68, 90, 1);
}

#showDialog:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}

#shelves {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 20px;
  justify-content: center;
}

.card {
  padding: 12px;
  background-color: #7dd3fc;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.remove-buttons {
  color: #dc2626;
  background: none;
  border: none;
	outline: inherit;
  font-weight: 900;
  font-size: 20px;
}

.remove-buttons:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.4);
}

.toggle-buttons {
  border: 1px solid black;
  background-color: #e0f2fe ;
  border-radius: 4px;
  color: black;
}

.toggle-buttons:hover {
  box-shadow: inset 0px 0px 6px 0px rgba(81, 87, 81, 1);
}